<html>
    <head>
        <title>EJS project</title>
        <link rel = "stylesheet" href="css/style.css">
    </head>
    <body>
        <h1> TODO list</h1>
        <!-- <ul>
     <%   for (var i =0; i < addeditem.length; i++){ %>
            <li><%= addeditem[i] %></li>
     <%    } %>
        </ul> -->

        <form action = "/" method="post">
            <input type="text" name="newitem" placeholder ="add next item" autofocus>
            <input type = "submit" value="Add">
        </form>
        
    </body>

</html>